<script lang="ts">
import Vue from 'vue';

const SectionTypes = Object.freeze({
  CARD: 'card',
  COPY: 'copy',
});

const ListStyles = Object.freeze({
  NUMBER: 'number',
});

export default Vue.extend({
  name: 'SupportCopyMarkdownServices',
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      sectionTypes: SectionTypes,
      listStyles: ListStyles,
    };
  },
});
</script>

<template>
  <div
    :data-aos="data.aos_animation"
    :data-aos-duration="data.aos_duration"
    class="slp-position-relative"
  >
    <section
      v-for="block in data.block"
      :key="block.header"
      class="blog-copy slp-mb-96"
    >
      <SlpRow class="slp-flex slp-flex-column">
        <SlpColumn :cols="block.column_size || 12">
          <div v-if="block.header">
            <div class="blog-copy__header-gradient" />
            <div class="blog-copy__header-anchor">
              <SlpTypography
                v-if="block.header"
                :id="block.id"
                variant="heading2-bold"
                tag="h2"
                class="blog-copy__title"
                >{{ block.header }}
              </SlpTypography>
              <router-link :to="{ path: '', hash: block.id }" data-test="ty">
                <SlpIcon
                  class="slp-ml-16"
                  name="anchor"
                  variant="marketing"
                  slp-color="text-link-100"
                  alt="Anchor Icon"
                />
              </router-link>
            </div>
          </div>
          <SlpRow>
            <SlpColumn
              v-for="section in block.sections"
              :id="section.id"
              :key="section.id"
              :cols="section.column_size || 12"
              class="blog-copy__wrapper"
            >
              <div
                :class="{
                  'blog-copy__card': section.type === sectionTypes.CARD,
                  'blog-copy__card--spaced': section.column_size === 6,
                }"
              >
                <SlpTypography
                  v-if="section.title"
                  tag="h4"
                  variant="heading4-bold"
                  class="slp-mb-24"
                >
                  {{ section.title }}
                </SlpTypography>
                <router-link
                  v-if="section.id"
                  :to="{ path: '', hash: section.id }"
                  data-test="ty"
                >
                  <SlpIcon
                    class="slp-ml-16"
                    name="anchor"
                    variant="marketing"
                    slp-color="text-link-100"
                    alt="Anchor Icon"
                  />
                </router-link>
                <div
                  v-if="section.text"
                  class="blog-copy__body"
                  :class="{
                    'blog-copy__body--list-number':
                      section.list_style === listStyles.NUMBER,
                  }"
                >
                  <div
                    v-if="section.text"
                    class="slp-mb-32"
                    v-html="$md.render(section.text)"
                  ></div>
                </div>
                <SlpButton
                  v-if="section.link"
                  class="blog-copy__card-link"
                  :href="section.link.href"
                  :data-ga-name="section.link.ga_name"
                  :data-ga-location="section.link.ga_location"
                  variant="tertiary"
                >
                  {{ section.link.text }}
                  <SlpIcon
                    class="slp-ml-8"
                    name="chevron-lg-right"
                    variant="product"
                    alt="Chevron Right Icon"
                  />
                </SlpButton>
              </div>
            </SlpColumn>
          </SlpRow>
        </SlpColumn>
      </SlpRow>
    </section>
  </div>
</template>

<style lang="scss" scoped>
.blog-copy {
  &__title {
    @media (max-width: $breakpoint-md) {
      font-size: $text-heading-3-mobile;
      line-height: $line-height-heading-3-mobile;
    }
  }

  &__header-gradient {
    background: linear-gradient(90deg, #ffc8c6 0%, #b3bded 100%);
    height: 4px;
    width: 95px;
    border-radius: 10px;
    margin-bottom: $spacing-16;
  }

  &__header-anchor {
    display: flex;
    align-items: center;
    max-width: 50%;
    margin-bottom: $spacing-48;

    @media (min-width: $breakpoint-md) {
      max-width: 100%;
    }

    :deep .slp-icon {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
      @media (min-width: $breakpoint-md) {
        opacity: 0;
      }
    }

    &:hover {
      :deep .slp-icon {
        opacity: 1;
      }
    }
  }

  &__card {
    background-color: $color-surface-800;
    padding: $spacing-32;
    height: 100%;
    border-radius: 4px;

    &--spaced {
      @media (min-width: $breakpoint-md) {
        margin-left: $spacing-16;
        margin-right: $spacing-16;
      }
    }

    .blog-copy__body {
      &:deep p {
        font-size: $text-body-1;
        line-height: $line-height-body-1;
      }
    }
  }

  &__card-link {
    padding: 0;
    color: $color-text-link-100;

    &:hover {
      text-decoration-color: $color-text-link-100;
    }
  }

  &__wrapper {
    width: 100%;
    margin-bottom: $spacing-32;
  }

  &__body {
    &--list-number {
      &:deep li {
        list-style-type: decimal !important;
        margin-bottom: $spacing-16;
      }
    }

    &:deep ul {
      margin: $spacing-24 $spacing-32;
    }

    &:deep ol {
      margin: $spacing-24 $spacing-32;
    }

    &:deep p {
      font-size: $text-heading-5-mobile;
      line-height: $line-height-heading-5-mobile;
      white-space: pre-wrap;
      margin-bottom: $spacing-16;

      @media (min-width: $breakpoint-md) {
        font-size: $text-heading-5;
        line-height: $line-height-heading-5;
      }
    }

    &:deep p strong {
      font-weight: $font-weight-bold !important;
    }

    &:deep p a {
      color: $color-text-link-100;
      font-size: $text-body-1;
    }

    &:deep p strong {
      font-weight: $font-weight-bold !important;
    }

    &:deep li,
    &:deep li a,
    &:deep li p {
      font-size: $text-body-2 !important;
      line-height: $line-height-body-2;
      font-weight: $font-weight-normal;
    }

    &:deep li {
      list-style-type: disc;
    }

    &:deep li strong {
      font-weight: $font-weight-bold !important;
    }

    &:deep blockquote {
      padding: $spacing-16;
      margin: $spacing-24 0;
      background-color: $color-surface-100;
      border: 1px solid $color-surface-400;
      border-radius: $spacing-4;
    }

    &:deep table {
      table-layout: fixed;
      width: 100%;
      max-width: 100%;
      margin: $spacing-24 0;
      background-color: transparent;
      border-collapse: collapse;
      border-spacing: 0;

      & > thead {
        &:first-child > :first-child > th {
          border-top: 1px solid $color-surface-200;
        }

        & > tr > th {
          vertical-align: center;
          text-align: left;
          padding: 8px;
          line-height: 1.42857;
          border: 1px solid $color-surface-200;
          border-bottom: 2px solid $color-surface-200;
          font-weight: $font-weight-bold;
          font-size: $text-body-1;

          a {
            font-weight: $font-weight-bold;
          }
        }
      }

      td {
        padding: 8px;
        line-height: 1.42857;
        vertical-align: top;
        border: 1px solid $color-surface-200;
        font-size: $text-body-1;
      }
    }
  }
}
</style>
