<script>
export default {
  name: 'ContentBlock',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
};
</script>

<template>
  <section class="content-block">
    <SlpContainer>
      <SlpRow>
        <SlpColumn :cols="12">
          <div v-if="data.variant == 'imageVariant'">
            <SlpTypography tag="h2" variant="heading2-bold">
              {{ data.header }}
            </SlpTypography>
            <div class="flex">
              <div class="image-wrapper">
                <nuxt-img :src="data.img_url" />
              </div>
              <div>
                <div class="text" v-html="$md.render(data.text)"></div>
                <div v-if="data.buttons" class="buttons">
                  <SlpButton
                    v-for="button in data.buttons"
                    :key="button.text"
                    :variant="button.variant"
                    :href="button.link"
                    :data-ga-name="button.text"
                    data-ga-location="body"
                    >{{ button.text
                    }}<SlpIcon variant="product" name="chevron-lg-right"
                  /></SlpButton>
                </div>
              </div>
            </div>
          </div>
          <div v-else>
            <SlpTypography tag="h2" variant="heading2-bold">
              {{ data.header }}
            </SlpTypography>
            <div class="text" v-html="$md.render(data.text)"></div>
            <SlpButton
              v-if="data.link"
              variant="primary"
              :href="data.link.link_url"
              :data-ga-name="data.link.link_text"
              data-ga-location="body"
            >
              {{ data.link.link_text }}
            </SlpButton>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.content-block {
  margin-top: $spacing-96;
  margin-bottom: $spacing-96;

  @media (max-width: $breakpoint-md) {
    margin: $spacing-48 0;
  }
}

h2 {
  margin-bottom: $spacing-8;
}

.image-wrapper {
  margin-right: $spacing-32;
  flex: 1 0 40%;

  img {
    width: 100%;
    max-width: 445px;
  }
  @media (max-width: $breakpoint-md) {
    margin-bottom: $spacing-16;
    flex: 1 0 100%;

    img {
      max-width: 100%;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: $spacing-32;
  padding-top: $spacing-8;
  flex-wrap: nowrap;

  @media (max-width: $breakpoint-md) {
    flex-wrap: wrap;
  }

  .text {
    margin-top: 0;

    &:deep > p {
      font-size: $text-heading-5;
      line-height: $line-height-heading-5;

      @media (max-width: $breakpoint-md) {
        font-size: $text-heading-5-mobile;
        line-height: $line-height-heading-5-mobile;
      }
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

.buttons {
  margin-top: $spacing-24;
}

.slp-btn {
  @media (max-width: $breakpoint-md) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-16;
  }
}

.slp-btn .slp-icon {
  margin-left: $spacing-8;
}
.slp-btn:first-of-type {
  margin-right: $spacing-8;
}

.text {
  margin-top: $spacing-32;
}
.text:deep {
  & > p {
    font-size: $text-body-2;
    margin: $spacing-16 0;
  }
}
</style>
