<script lang="ts">
import SoftwareFasterCarousel from '~/components/software-faster/software-faster-carousel.vue';

export default {
  name: 'FreeTrialQuoteCarousel',
  components: {
    SoftwareFasterCarousel,
  },
  props: {
    quotes: {
      type: Array,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      visibleQuote: 0,
    };
  },
  methods: {
    goToNext() {
      if (this.visibleQuote >= this.quotes.length - 1) {
        this.visibleQuote = 0;
      } else {
        this.visibleQuote++;
      }
    },
    goToPrev() {
      if (this.visibleQuote === 0) {
        this.visibleQuote = this.quotes.length - 1;
      } else {
        this.visibleQuote--;
      }
    },
    selectNewSlide(index) {
      this.visibleQuote = index;
    },
  },
};
</script>

<template>
  <section class="carousel-wrapper">
    <SlpContainer>
      <SoftwareFasterCarousel
        v-for="(quote, index) in quotes"
        :key="index"
        :index="index"
        :visible="visibleQuote"
        class="case-studies__card"
        transition="slide-left"
        :length="quotes.length"
      >
        <SlpRow>
          <article class="feature-card">
            <div class="text-container">
              <img
                class="logo"
                :src="quote.logo_img"
                :alt="`${quote.company_name} logo`"
                loading="lazy"
              />
              <SlpTypography variant="heading3-bold" tag="h3" class="slp-mb-24">
                {{ quote.heading }}
              </SlpTypography>
              <SlpTypography variant="quotes" tag="p" class="slp-mb-24">
                {{ quote.quote }}
              </SlpTypography>
              <div class="author slp-mb-24">
                <SlpTypography variant="body3-bold" tag="p">
                  {{ quote.name }}</SlpTypography
                >
                <SlpTypography variant="body3" tag="p">
                  {{ quote.job_title }}</SlpTypography
                >
              </div>
            </div>
            <div class="metrics">
              <div
                v-for="(metric, i) in quote.stats"
                :key="metric.text"
                class="metric"
                :class="`metric-${i}`"
              >
                <SlpTypography variant="heading1-bold" tag="p">{{
                  metric.showcase
                }}</SlpTypography>
                <SlpTypography variant="body2" tag="p">
                  {{ metric.text }}</SlpTypography
                >
              </div>
            </div>
          </article>
          <div class="mobile-metrics">
            <div
              v-for="(metric, i) in quote.stats"
              :key="metric.text"
              class="metric"
              :class="`metric-${i}`"
            >
              <SlpTypography variant="heading1-bold" tag="p">{{
                metric.showcase
              }}</SlpTypography>
              <SlpTypography variant="body2" tag="p">
                {{ metric.text }}</SlpTypography
              >
            </div>
          </div>
        </SlpRow>
      </SoftwareFasterCarousel>
      <SlpRow class="controls">
        <SlpButton
          variant="icon"
          aria-label="View previous case study"
          @click.native="goToPrev"
        >
          <SlpIcon
            name="chevron-lg-left"
            alt="Chevron Left Icon"
            variant="product"
            hex-color="#171321"
          />
        </SlpButton>
        <div class="controls__pages">
          <div
            v-for="(option, index) in quotes.length"
            :key="option"
            :class="[
              option === visibleQuote + 1
                ? 'controls__pages-control--active'
                : '',
              'controls__pages-control',
            ]"
            @click="selectNewSlide(index)"
          ></div>
        </div>
        <SlpButton
          variant="icon"
          aria-label="View next case study"
          @click.native="goToNext"
        >
          <SlpIcon
            name="chevron-lg-right"
            alt="Chevron Right Icon"
            variant="product"
            hex-color="#171321"
          />
        </SlpButton>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.carousel-wrapper {
  padding-bottom: $spacing-96;

  @media (max-width: $breakpoint-md) {
    padding-bottom: $spacing-64;
  }
}

.mobile-metrics {
  margin: -50px auto 0 auto;
  z-index: 3;
  max-width: 95%;
  width: 95%;
  @media (min-width: $breakpoint-md) {
    display: none;
  }
}
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $spacing-24;
  color: #171321;

  @media (max-width: $breakpoint-md) {
    margin-top: 0;
  }

  :deep {
    svg,
    path {
      fill: #171321 !important;
      stroke: #171321 !important;
    }
  }

  &__pages {
    display: inherit;

    &-control {
      background: $color-surface-300;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin: 0 $spacing-8;
      cursor: pointer;

      &--active {
        background: $color-surface-700;
      }
    }
  }
}

.feature-card {
  color: inherit;
  margin-top: -140px;
  display: flex;
  background: white;
  grid-column: span 3;
  width: 90%;
  padding: 64px 71px;
  border-radius: 4px;
  border: 1px solid $color-surface-200;
  position: relative;

  .metrics {
    display: block;
  }
  @media (max-width: $breakpoint-md) {
    grid-column: span 1;
    width: 100%;
    flex-direction: column;
    padding: 32px 24px 64px 24px;
    margin-top: -475px;

    .metrics {
      display: none;
    }
  }

  .logo {
    margin-bottom: 40px;
    max-width: 164px;
    max-height: 80px;
    height: auto;
  }
}

.metrics,
.mobile-metrics {
  margin-bottom: 32px;
  @media (min-width: $breakpoint-md) {
    position: relative;
    right: -75px;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
    width: 33%;
    margin-bottom: 0;
  }
  .metric {
    margin-bottom: 8px;
    min-width: 415px;
    padding: 32px;
    background: linear-gradient(
      108.2deg,
      #eee7fd 0.01%,
      #f6f3fe 69.81%,
      #ffd4d8 140.41%
    );
    @media (max-width: $breakpoint-md) {
      min-width: 0;
      padding: 16px;
    }
    &-1 {
      background: linear-gradient(
        109.13deg,
        #eee7fd -25.16%,
        #f6f3fe 44.15%,
        #ffd4d8 114.27%
      );
    }
    &-2 {
      background: linear-gradient(
        107.77deg,
        #eee7fd -55.1%,
        #f6f3fe 16.25%,
        #ffd4d8 88.43%
      );
    }
    &:last-child {
      border-radius: 0px 0px 64px 0px;
      margin-bottom: 0;
      padding-right: 50px;
    }
  }
}
</style>
