<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { NextStep } from '../components/common/index';
import {
  Hero,
  ComparisonChart,
  CaseStudies,
  AccoladeCards as Accolades,
  WhyLoop,
  WhyGrowthSection,
  Showcase,
} from '../components/why/index';
import { getPageMetadata } from '~/common/meta';

import CategoriesTable from '@/components/common/categories-table.vue';

export default Vue.extend({
  components: {
    Hero,
    WhyGrowthSection,
    ComparisonChart,
    CaseStudies,
    NextStep,
    WhyLoop,
    Accolades,
    Showcase,
    CategoriesTable,
  },
  async asyncData({ $content }) {
    const categoriesObject = await $content('synced/categories').fetch();
    const data = await $content('why-gitlab').fetch();

    // START FEATURES TABLE CODE
    const table = {
      plan: [],
      create: [],
      verify: [],
      secure: [],
      package: [],
      deploy: [],
      monitor: [],
      govern: [],
    };

    // populate table arrays with category content by stage value
    Object.entries(categoriesObject).forEach(([_, value]) => {
      if (table[value.stage] && value.maturity && value.marketing !== false) {
        table[value.stage].push({
          name: value.name,
          stage: value.stage,
          documentation: value.documentation || null,
          direction: value.direction || null,
          marketing_page: value.marketing_page || null,
          maturity: value.maturity,
        });
      }
    });
    return {
      data,
      table,
    };
  },
  data() {
    return {
      comparisons: 0,
      visibleComparisonIndex: 0,
      nextComparisonIndex: 1,
      observer: null,
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).data, this.$route.path);
  },
  mounted() {
    this.observer = new IntersectionObserver(this.observerTriggered, {
      threshold: 0.1,
    });
    this.observer.observe(this.$refs.afterAnimation);
  },
  beforeDestroy() {
    this.observer.disconnect();
  },
  methods: {
    updateComparison(currentIndex: number, numberOfComparisons: number) {
      const adjustedIndex = currentIndex + 1;

      if (adjustedIndex < numberOfComparisons) {
        this.visibleComparisonIndex += 1;
      } else {
        this.visibleComparisonIndex = 0;
      }

      if (this.nextComparisonIndex + 1 < numberOfComparisons) {
        this.nextComparisonIndex += 1;
      } else if (this.nextComparisonIndex + 1 === numberOfComparisons) {
        this.nextComparisonIndex = 0;
      }
    },
    observerTriggered(entries) {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          this.$refs.whyLoop.endLoopAnimation();
        }
      });
    },
  },
});
</script>

<template>
  <div class="why">
    <div class="why__sticky-container">
      <div class="content">
        <Hero :data="data.hero" />
        <WhyLoop ref="whyLoop" :data="data.loop" />
      </div>
      <a
        v-if="data.jump_to"
        class="jump_button"
        :href="data.jump_to"
        data-ga-name="jump-down"
        data-ga-location="why-gitlab-header"
      >
        <SlpTypography tag="span" variant="body3"> Jump down </SlpTypography>
        <SlpIcon variant="product" name="chevron-lg-right" />
      </a>
    </div>
    <div ref="afterAnimation">
      <section id="sdlc-features">
        <SlpContainer>
          <div
            class="table-block"
            role="table"
            aria-label="Software Development Lifecycle Features"
            aria-describedby="table-header"
          >
            <SlpTypography id="table-header" tag="h2" variant="heading2-bold">
              {{ data.sdlc_table_block.title }}
            </SlpTypography>
            <CategoriesTable :table="table" has-icons show-scrollbar />
          </div>
        </SlpContainer>
      </section>
      <Showcase :data="data.showcase.data" />
      <WhyGrowthSection :data="data.growth_block" />
      <Accolades :data="data.accolades_block" />
      <ComparisonChart
        :title="data.solution_comparison.title"
        :subtitle="data.solution_comparison.subtitle"
        :link-text="data.solution_comparison.link_text"
        :link-href="data.solution_comparison.link_href"
        :data-ga-name="data.solution_comparison.data_ga_name"
        :data-ga-location="data.solution_comparison.data_ga_location"
        :solutions="data.solution_comparison.solutions"
      />
      <CaseStudies :data="data.case_studies" />
      <NextStep />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.why {
  position: relative;
  padding-bottom: $spacing-24;

  &__sticky-container {
    display: flex;
    flex-direction: row;
    background: $color-primary-200;

    .content {
      width: 100%;
    }

    .jump_button {
      position: sticky;
      top: 50vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 120px;
      width: 57px;
      background-color: $color-surface-50;
      color: $color-primary-200;
      border-radius: $border-radius-4;
      padding: $spacing-32 $spacing-8;
      margin: $spacing-32;

      &:hover {
        background-color: $color-surface-100;
      }

      .slp-icon {
        transform: rotate(90deg);
      }
    }

    @media (max-width: $breakpoint-sm) {
      .jump_button {
        display: none;
      }
    }
  }
}

.solution-comparison {
  background: $color-surface-700;
  padding: $spacing-96 0;
  overflow: hidden;
}

.table-block {
  padding-top: $spacing-96;
  padding-bottom: 130px;

  h2 {
    display: block;
    width: 45%;
    margin-top: $spacing-64;
    margin-bottom: $spacing-64;

    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
  }

  &:deep {
    .column {
      width: 100%;
    }
    .stage-name {
      font-weight: $font-weight-bold;
      font-size: $text-heading-5;
      line-height: $line-height-heading-5;
      padding: $spacing-24 0;
      border-top: 1px solid $color-surface-400;
      border-bottom: 1px solid $color-surface-400;

      a:hover {
        text-decoration: none;
      }
    }

    .features {
      padding: $spacing-24 $spacing-8 $spacing-8 0;
      text-align: left;
      width: 100%;
      flex: 1;

      a,
      p {
        margin-bottom: $spacing-16;
        color: $color-text-300;
      }

      a {
        transition: color 0.2s ease-in;
      }

      a:hover {
        text-decoration: none;
        color: $color-text-link-100;
      }
    }
  }
}
</style>
