<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SecurityResourcesFeatureCard',
  components: {},
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
});
</script>

<template>
  <div class="security-resources-feature-card">
    <SlpTypography
      tag="h2"
      :variant="data.header_typography ?? 'heading5-bold'"
      class="slp-mb-24"
      >{{ data.header }}</SlpTypography
    >
    <SlpTypography
      variant="body1"
      tag="div"
      class="slp-mb-24"
      v-html="data.description"
    />
    <SlpButton
      v-if="data.link"
      :variant="data.link.variant ?? 'primary'"
      :href="data.link.href"
      :data-ga-name="data.link.data_ga_name ?? 'Learn more'"
      :data-ga-location="data.link.data_ga_location ?? 'Overview'"
    >
      {{ data.link.text ?? 'Learn more' }}

      <SlpIcon
        class="slp-ml-8"
        :name="data.link.icon?.name ?? 'chevron-lg-right'"
        :variant="data.link.icon?.variant ?? 'product'"
        :alt="data.link.icon?.alt ?? 'Chevron Right Icon'"
      />
    </SlpButton>
    <div v-if="data.items?.length">
      <div
        v-for="item in data.items"
        :key="item.text"
        class="security-resources-feature-card__item"
      >
        <SlpIcon
          class="slp-mr-8"
          :variant="item.icon.variant"
          :name="item.icon.name"
          size="sm"
        />
        <SlpTypography variant="body1" tag="div">
          <div v-html="$md.render(item.text)"></div>
        </SlpTypography>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.security-resources-feature-card {
  background: $color-surface-800;
  border-radius: $spacing-4;
  padding: $spacing-32;
  width: 100%;
  margin: $spacing-32 0 0 0;
  @media (min-width: $breakpoint-md) {
    margin: 0 auto;
  }
  &__item {
    display: flex;
    margin: 0 0 $spacing-24;
  }
  :deep a {
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}
</style>
