<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Header',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section class="header">
    <SlpColumn class="slp-flex slp-flex-column slp-align-items-center">
      <h1>{{ data.title }}</h1>
      <h3>{{ data.subtitle }}</h3>
    </SlpColumn>
  </section>
</template>

<style lang="scss" scoped>
.header {
  margin-top: -$spacing-64;
  margin-bottom: $spacing-32;
  text-align: center;
  @media (max-width: $breakpoint-md) {
    margin-top: 0;
  }
}
</style>
