<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import BlogCard from '../../components/customers/blog-card.vue';
import {
  Copy,
  CopyMedia,
  NextStep,
  FeaturedReports,
} from '../../components/common/index.vue';
import {
  AccordionFeatureList,
  AnalystsContacts,
  AnalystsHero,
  MarketResearch,
  Review,
} from '../../components/analysts/index.vue';
import { TopicsHeader } from '../../components/topics/index.vue';
import { getPageMetadata } from '../../common/meta';

export default Vue.extend({
  name: 'Analysts',
  components: {
    AccordionFeatureList,
    AnalystsContacts,
    AnalystsHero,
    BlogCard,
    Copy,
    CopyMedia,
    FeaturedReports,
    MarketResearch,
    TopicsHeader,
    NextStep,
    Review,
  },
  async asyncData({ $content, error }: any) {
    try {
      const analysts = await $content(`analysts/index`).fetch();

      return { analysts };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).analysts, this.$route.path);
  },
});
</script>
<template>
  <div class="analysts-wrapper">
    <component
      :is="component.name"
      v-for="component in analysts.components"
      :key="component.name + Math.random()"
      :data="component.data"
    />
    <SlpContainer variant="gradient">
      <NextStep :variant="1" />
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.analysts-wrapper {
  overflow: hidden;
}
</style>
